[submodule "externals/zstd"]
	path = externals/zstd
	url = https://github.com/facebook/zstd.git
[submodule "externals/imgui"]
	path = externals/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "externals/stb"]
	path = externals/stb
	url = https://github.com/nothings/stb.git
[submodule "externals/Vulkan-Hpp"]
	path = externals/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
[submodule "externals/googletest"]
	path = externals/googletest
	url = https://github.com/google/googletest.git
