[submodule "ext/zstd"]
	path = ext/zstd
	url = https://github.com/facebook/zstd.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
