[submodule "externals/Vulkan-Hpp"]
	path = externals/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
[submodule "externals/Vulkan-Docs"]
	path = externals/Vulkan-Docs
	url = https://github.com/KhronosGroup/Vulkan-Docs.git
[submodule "externals/zstd"]
	path = externals/zstd
	url = https://github.com/facebook/zstd.git
